<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%=client_stylefile%>">
  </head>
  <body>
    <div class="header"><b><%=client_title%></b></div>

    <h2>Hazard Service</h2>

    <p>This page serves as the carrier of a rogue link, however, this could also be sent through email etc.</p>

    <a href="/roguelink">Click me</a>
  </body>
</html>
