<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%=client_stylefile%>">
  </head>
  <body>
    <div class="header"><b><%=client_title%></b></div>

    <h2>Hazard Service</h2>

    <p>This page serves as the carrier of a rogue link, however, the link could also be sent through email etc.</p>

    <p>The essence of the attack is that you have e.g. a browser tab open where you have logged into the legitimate service, i.e. your browser have a <b>security session</b> with the client at <b><%=legit_client_url%></b></p>

    <a href="/roguelink">Click this link to trigger the attack</a>
  </body>
</html>
