<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%=client_stylefile%>">
  </head>
  <body>
    <div class="header"><b><%=client_title%></b></div>

    <h2>Hazard Service</h2>

    <p>You have now created a new object in the object store through a <a href="https://owasp.org/www-community/attacks/csrf">CSRF attack</a>, however, this page should just show benign/unrelated information so that the attack is hidden.</p>

    <p>If you visit the object store at <%=legit_client_url%> you will see, that a new object has been created.</p>

    <iframe src="/roguepost" style="position: absolute;width:0;height:0;border:0;"></iframe>
  </body>
</html>
